---
export const prerender = true;

import { getCollection } from "astro:content";
import BaseLayout from "@/layouts/BaseLayout.astro";
import {
  Breadcrumb,
  BreadcrumbItem,
  BreadcrumbLink,
  BreadcrumbList,
  BreadcrumbPage,
  BreadcrumbSeparator,
} from "@/components/ui/breadcrumb";
import PremiumVideoWrapper from "@/components/episode/PremiumVideoWrapper.astro";
import FreeVideoWrapper from "@/components/episode/FreeVideoWrapper.astro";
import PremiumSlideshowWrapper from "@/components/episode/PremiumSlideshowWrapper.astro";

export async function getStaticPaths() {
  const episodes = await getCollection("episodes");

  return episodes.map((episode) => ({
    params: {
      slug: episode.slug,
    },
    props: {
      episode,
    },
  }));
}

const { episode } = Astro.props;
const { Content } = await episode.render();

// Format the date
const formattedDate = new Date(episode.data.date).toLocaleDateString("en-US", {
  year: "numeric",
  month: "long",
  day: "numeric",
});
---

<BaseLayout title=`${episode.data.title} | Air War Trail`>
  <Breadcrumb className="my-8">
    <BreadcrumbList>
      <BreadcrumbItem>
        <BreadcrumbLink href="/">Home</BreadcrumbLink>
      </BreadcrumbItem>
      <BreadcrumbSeparator />
      <BreadcrumbItem>
        <BreadcrumbLink href="/episodes">All Episodes</BreadcrumbLink>
      </BreadcrumbItem>
      <BreadcrumbSeparator />
      <BreadcrumbItem>
        <BreadcrumbPage>{episode.data.title}</BreadcrumbPage>
      </BreadcrumbItem>
    </BreadcrumbList>
  </Breadcrumb>
  <article class="px-4 py-8">
    <header class="mb-8">
      <h1 class="mb-2 text-4xl font-bold">{episode.data.title}</h1>
      <div class="mb-4">
        <span>{formattedDate}</span>
        <span class="ml-4">By {episode.data.author}</span>
      </div>
      <div class="flex flex-wrap gap-2">
        {
          episode.data.tags.map((tag) => (
            <span class="bg-accent-1 text-secondary-foreground rounded-full px-3 py-1 text-sm">
              {tag}
            </span>
          ))
        }
      </div>
    </header>

    <div class="prose prose-lg dark:prose-invert max-w-none">
      <Content
        components={{
          PremiumVideo: PremiumVideoWrapper,
          PremiumSlideShow: PremiumSlideshowWrapper,
          FreeVideo: FreeVideoWrapper,
        }}
      />
    </div>
  </article>
</BaseLayout>
