---

import HomepageHero from "@/components/partials/HomepageHero";
import PlaylistDetail from "@/components/playlist/PlaylistDetail";
import Slideshow from "@/components/sections/Slideshow.astro";
import { VideoEmbed } from "@/components/video/VideoEmbed";
import BaseLayout from "@/layouts/BaseLayout.astro";

// Library IDs from envs
const basicLibrary = import.meta.env.AWT_BASIC_LIBRARY_ID;
const premiumLibrary = import.meta.env.AWT_PREMIUM_LIBRARY_ID;

const pageTitle = "Air War Trail";
const structuredData = {
	"@context": "https://schema.org",
	"@type": "WebPage",
	"@id": `https://www.airwartrail.com/`,
	url: `https://www.airwartrail.com/`,
	name: pageTitle,
	description:
		"Watch our curated collection of World War II documentaries, interviews, and historical films from the East Anglia Air War Project.",
	isPartOf: {
		"@type": "WebSite",
		url: "https://www.airwartrail.com/",
		name: "Air War Trail",
		description:
			"The documentary films, interviews, and images bring the voices alive from those who experienced World War II in an up close and personal way. The mission of Air War Trail is to bring you their stories, when freedom stood in the balance and a generation of the free made a difference in the world.",
	},
	inLanguage: "en-US",
};
---

<BaseLayout structuredData={structuredData} title={pageTitle}>
  <div
    class="grid auto-rows-max gap-8 lg:grid-cols-[3fr_2fr] items-center lg:gap-6 xl:gap-12"
  >
    <div
      class="from-primary via-card/40 to-primary aspect-video justify-center rounded-lg bg-linear-to-tr p-4"
    >
      <VideoEmbed
        client:load
        videoId="1iXpjxeSwMbXan8WeY37vkxT"
        libraryId="pnr6CRTe"
        thumbnailTime={5}
      />
    </div>

    <HomepageHero client:load />
  </div>

  <!-- Show only to premium user -->
  <PlaylistDetail client:visible slug="featured-films" libraryId={premiumLibrary} requiresSub={true} hidePlaylist={true} />
  <!-- Show to both premium and basic user -->
  <PlaylistDetail client:visible slug="coming-soon" libraryId={basicLibrary} requiresSub={false} />
  <PlaylistDetail client:visible slug="film-trailers" libraryId={basicLibrary} requiresSub={false} />
 
  <!-- Embla slideshow content -->
  <Slideshow />
</BaseLayout>
