---
import { Film, Star, TvMinimalPlay, UserPlus } from "@lucide/astro";
import PlaylistDetail from "@/components/playlist/PlaylistDetail";
import Slideshow from "@/components/sections/Slideshow.astro";
import { Button } from "@/components/ui/button";
import { VideoEmbed } from "@/components/video/VideoEmbed";
import BaseLayout from "@/layouts/BaseLayout.astro";

// Auth state is populated by middleware
const { hasActiveSubscription } =
	Astro.locals.auth;

// Library IDs from envs
const basicLibrary = import.meta.env.AWT_BASIC_LIBRARY_ID;
const premiumLibrary = import.meta.env.AWT_PREMIUM_LIBRARY_ID;

const pageTitle = "Air War Trail";
const structuredData = {
	"@context": "https://schema.org",
	"@type": "WebPage",
	"@id": `https://www.airwartrail.com/`,
	url: `https://www.airwartrail.com/`,
	name: pageTitle,
	description:
		"Watch our curated collection of World War II documentaries, interviews, and historical films from the East Anglia Air War Project.",
	isPartOf: {
		"@type": "WebSite",
		url: "https://www.airwartrail.com/",
		name: "Air War Trail",
		description:
			"The documentary films, interviews, and images bring the voices alive from those who experienced World War II in an up close and personal way. The mission of Air War Trail is to bring you their stories, when freedom stood in the balance and a generation of the free made a difference in the world.",
	},
	inLanguage: "en-US",
};
---

<BaseLayout structuredData={structuredData} title={pageTitle}>
  <div
    class="grid auto-rows-max gap-8 lg:grid-cols-[3fr_2fr] items-center lg:gap-6 xl:gap-12"
  >
    <div
      class="from-primary via-card/40 to-primary aspect-video justify-center rounded-lg bg-linear-to-tr p-4"
    >
      <VideoEmbed
        client:load
        videoId="fi7GVQvX8deN22QP2caJmRiA"
        libraryId="WM2OkZia"
        thumbnailTime={5}
      />
    </div>

    <div>
      {hasActiveSubscription && (
        <div class="mx-auto w-4/5 flex items-center justify-center gap-2 p-4 bg-accent-6 border border-secondary rounded-lg">
          <Star class="size-8 fill-secondary" />
          <p class="w-fit text-sm text-center">Thank you for being a premium member and supporting our mission!</p>
          <Star class="size-8 fill-secondary" />
        </div>
      )}
      <h1 class="my-4 text-center text-2xl font-bold sm:text-4xl sm:leading-tight">
        Welcome to the <span class="text-accent-5 text-nowrap">Air War Trail</span>
      </h1>
      <p class="mt-3 text-justify">
        If you walk along the air war trail today, you will see the remains of
        the wartime airfields everywhere you look. The images of war have grown
        faint, but the spirit of the bomber boys over East Anglia will never
        fade. 
      </p>
      <p class="mt-3 text-justify">
        They are all gone away now, these once busy and impressive places
        so vital so long ago. Now only the green fields blow in the wind, and
        the sounds of Flying Fortresses and Liberators along the taxiways have
        been silenced forever.
      </p>
      <p class="mt-3 text-justify">
        The Yanks are but memories now. Here and there only solitary walls rest
        on this hallowed ground, standing vigil across the landscape of time.
      </p>

      <div class="my-8 flex w-full flex-row flex-wrap justify-center items-center gap-4">
        {hasActiveSubscription ? (
          <a href="/streaming/premium">
            <Button
              size="lg"
              className="text-lg font-semibold"
            >
              <TvMinimalPlay class="size-6" />
              View Premium Content
            </Button>
          </a>
          <a href="/film-series">
            <Button
              variant="reversed"
              size="lg"
              className="text-lg font-semibold"
            >
              <Film class="size-6" />
              Film Series
            </Button>
          </a>
        ) : (
          <a href="/subscribe">
            <Button size="lg" className="text-lg font-semibold">
              <UserPlus class="size-6" />
              Subscribe Now
            </Button>
          </a>
          <a href="/streaming/basic">
            <Button variant="reversed" size="lg" className="text-lg font-semibold">
              <TvMinimalPlay class="size-6" />
              View Free Content
            </Button>
          </a>
        )}
      </div>
    </div>
  </div>

  <!-- Show only to premium user -->
  {hasActiveSubscription && (
    <PlaylistDetail client:visible slug="featured-films" libraryId={premiumLibrary} requiresSub={true} />
  )}
  <!-- Show to both premium and basic user -->
  <PlaylistDetail client:visible slug="coming-soon" libraryId={basicLibrary} requiresSub={false} />
  <!-- Show only to basic user -->
  {!hasActiveSubscription && (
    <PlaylistDetail client:visible slug="film-trailers" libraryId={basicLibrary} requiresSub={false} />
  )}
 
 <Slideshow />
</BaseLayout>
