---
import { PlaylistDetail } from "@/components/playlist/PlaylistDetail";
import { Breadcrumb, BreadcrumbItem, BreadcrumbLink, BreadcrumbList, BreadcrumbSeparator } from "@/components/ui/breadcrumb";
import BaseLayout from "@/layouts/BaseLayout.astro";

const { slug } = Astro.params;

if (!slug) {
	return Astro.redirect("/streaming/film-series");
}

const videoLibraryId = "NsJZrLfu";

// Format the page title from the slug
const formatTitle = (slug: string) => {
	return slug
		.split("-")
		.map((word) => word.charAt(0).toUpperCase() + word.slice(1))
		.join(" ");
};

const pageTitle = `${formatTitle(slug)} | Film Series | Air War Trail`;

const structuredData = {
	"@context": "https://schema.org",
	"@type": "WebPage",
	"@id": `https://www.airwartrail.com/streaming/film-series/${slug}/`,
	url: `https://www.airwartrail.com/streaming/film-series/${slug}/`,
	name: pageTitle,
	description:
		"Watch our curated collection of World War II documentaries, interviews, and historical films from the East Anglia Air War Project.",
	isPartOf: {
		"@type": "WebSite",
		url: "https://www.airwartrail.com/",
		name: "Air War Trail",
		description:
			"The documentary films, interviews, and images bring the voices alive from those who experienced World War II in an up close and personal way. The mission of Air War Trail is to bring you their stories, when freedom stood in the balance and a generation of the free made a difference in the world.",
	},
	inLanguage: "en-US",
};
---

<BaseLayout title={pageTitle} structuredData={structuredData}>
	<div class="container mx-auto">
    <Breadcrumb className="mb-8">
      <BreadcrumbList>
        <BreadcrumbItem>
          <BreadcrumbLink href="/">Home</BreadcrumbLink>
        </BreadcrumbItem>
        <BreadcrumbSeparator />
        <BreadcrumbItem>
          <BreadcrumbLink href="/streaming">Streaming Library</BreadcrumbLink>
        </BreadcrumbItem>
        <BreadcrumbSeparator />
        <BreadcrumbItem>
          <BreadcrumbLink href="/streaming/film-series">Film Series</BreadcrumbLink>
        </BreadcrumbItem>
      </BreadcrumbList>
    </Breadcrumb>
		<PlaylistDetail client:load slug={slug} libraryId={videoLibraryId} />
	</div>
</BaseLayout>
